.menu-items.media {
  background: if(
    $bar-menus-monochrome,
    $bar-menus-background,
    $bar-menus-menu-media-background-color
  );
  border-color: if(
    $bar-menus-monochrome,
    $bar-menus-border-color,
    $bar-menus-menu-media-border-color
  );
  opacity: $bar-menus-opacity/100;
  padding: 0; // Remove padding from the outermost container
  margin: 0; // Remove margin from the outermost container
}

.menu-items-container.media {
  * {
    font-size: $font-size * $bar-menus-menu-media-scaling/100;
  }

  min-width: 22em * $bar-menus-menu-media-scaling/100;
  min-height: 9em * $bar-menus-menu-media-scaling/100;
  padding: 0.45em;

  .menu-section-container {
    margin: 0;
    padding: 0;
  }

  .menu-items-section {
    border-radius: $bar-menus-card_radius;
    padding: 0.25em;
    margin: 0;
  }

  .menu-content {
    border-radius: 0.4em;
    background-size: cover;
    background-position: center;
    padding: 0.5em;
    margin: 0; // Ensure no extra margin
  }

  .media-content {
    margin-bottom: 0em;
    min-width: 400px;
  }

  .media-indicator-current-song-name,
  .media-indicator-current-song-author,
  .media-indicator-current-song-album {
    margin-bottom: 0.5rem;
  }

  .media-indicator-current-song-name-label {
    color: if(
      $bar-menus-monochrome,
      $bar-menus-label,
      $bar-menus-menu-media-song
    );
    font-size: 1.35em;
    font-weight: bold;
  }

  .media-indicator-current-song-author-label,
  .media-indicator-current-song-album-label {
    color: if(
      $bar-menus-monochrome,
      $bar-menus-label,
      $bar-menus-menu-media-artist
    );
    font-size: 1em;
  }

  .media-indicator-current-controls {
    margin: 1rem 0;
    padding: 0 1rem;
  }

  .media-indicator-control-button {
    background: if(
      $bar-menus-monochrome,
      $bar-menus-buttons-default,
      $bar-menus-menu-media-buttons-background
    );
    color: if(
      $bar-menus-monochrome,
      $bar-menus-buttons-text,
      $bar-menus-menu-media-buttons-text
    );
    min-height: 2em;
    min-width: 2.5em;
    border-radius: 0.2rem;
    padding: 0.3em;
    margin: 0 0.25em;

    &.disabled {
      background: if(
        $bar-menus-monochrome,
        $bar-menus-buttons-disabled,
        $bar-menus-menu-media-buttons-inactive
      );
      opacity: 0.5;
    }

    &.enabled {
      background: if(
        $bar-menus-monochrome,
        $bar-menus-buttons-default,
        $bar-menus-menu-media-buttons-background
      );

      &:hover {
        background: if(
          $bar-menus-monochrome,
          $bar-menus-buttons-default,
          $bar-menus-menu-media-buttons-background
        );
        opacity: 0.7;
      }

      &.active {
        background: if(
          $bar-menus-monochrome,
          $bar-menus-buttons-default,
          $bar-menus-menu-media-buttons-enabled
        );

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  image {
    font-size: 1.1em;
  }

  .menu-slider.media.progress {
    margin: 1em 0;

    trough {
      background: if(
        $bar-menus-monochrome,
        $bar-menus-slider-background,
        $bar-menus-menu-media-slider-background
      );
      border-radius: 0.2em;
      min-height: 0.5em;

      highlight,
      progress {
        border-radius: 0.2em;
        min-height: 0.5em;
        background: if(
          $bar-menus-monochrome,
          $bar-menus-slider-primary,
          $bar-menus-menu-media-slider-primary
        );
      }
    }

    slider {
      background: if(
        $bar-menus-monochrome,
        $bar-menus-slider-puck,
        $bar-menus-menu-media-slider-puck
      );
      min-height: 1em;
      min-width: 1em;
      border-radius: 50%;
    }

    &:hover {
      trough {
        background: if(
          $bar-menus-monochrome,
          $bar-menus-slider-backgroundhover,
          $bar-menus-menu-media-slider-backgroundhover
        );
        opacity: 0.7;
      }
    }
  }

  .player-selector {
    margin-top: 1em;
    padding: 0 1rem;

    button {
      padding: 0.3em 1em;
      border-radius: 0.2em;
      background: if(
        $bar-menus-monochrome,
        $bar-menus-buttons-default,
        $bar-menus-menu-media-buttons-background
      );
      color: if(
        $bar-menus-monochrome,
        $bar-menus-buttons-text,
        $bar-menus-menu-media-buttons-text
      );

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
